In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\richa\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\richa\anaconda3\lib\site-packages (from pymongo) (2.3.0)

In [166]:
from pprint import pprint as pp
import pymongo
from pymongo import MongoClient
import json
import pandas as pd

In [167]:
client = MongoClient('mongodb+srv://Kali07:Y9at4lGCGicYkPFA@cluster0.kxvrnx9.mongodb.net/test', 27017)
db = client['Euro2020']
match_information = db['match_information']
match_line_ups = db['match_line_ups']
match_player_statistics = db['match_player_statistics']
match_team_statistics = db['match_team_statistics']
match_events = db['match_events']
pre_match_information = db['pre_match_information']
db

Database(MongoClient(host=['ac-jkjno8k-shard-00-00.kxvrnx9.mongodb.net:27017', 'ac-jkjno8k-shard-00-01.kxvrnx9.mongodb.net:27017', 'ac-jkjno8k-shard-00-02.kxvrnx9.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-51al2q-shard-0', tls=True), 'Euro2020')

In [168]:
db.list_collection_names()

['match_information',
 'match_events',
 'pre_match_information',
 'match_line_ups',
 'match_player_statistics',
 'match_team_statistics']

In [169]:
#Selectionner le nombre de bléssures qu'il y'a eu pendant toute la compétion en les regroupants par étape
nb_blessures = { "$group" : {"_id" : "$RoundName", "total" : { "$sum" : "$InjuryTime" }} }
pd.DataFrame(match_information.aggregate( [nb_blessures] ))

                _id  total
0    quarter finals     24
1  final tournament    174
2       semi finals      9
3     eighth finals     44
4             final      9

In [170]:
#Trouvez les équipes qui ont remporté au moins un match avec une différence de 1 buts ou plus 
#pendant les quarts de finale, les demi-finales et la finale.

pd.DataFrame(db.match_information.find({
    "RoundName": {
    "$in": ["quarter finals", "semi finals", "final"]},
    "$or": [
        { "$expr": { "$gte": [ { "$subtract": ["$ScoreHome", "$ScoreAway"] }, 1 ] } },
        { "$expr": { "$gte": [ { "$subtract": ["$ScoreAway", "$ScoreHome"] }, 1 ] } }
    ]},
    {
        "HomeTeamName": 1,
        "awayteamname": 1,
        "RoundName": 1,
        "ScoreHome": 1,
        "ScoreAway": 1,
        "_id": 0
    }
)
    )

     HomeTeamName       RoundName  ScoreHome  ScoreAway
0         Belgium  quarter finals          1          2
1  Czech Republic  quarter finals          1          2
2         Ukraine  quarter finals          0          4
3         England     semi finals          2          1

In [171]:
#Trouvez les matche dans la phase de groupes où aux moins un  des équipe
#qui ont marqué pendant et qui ont également atteint les quarts de finale

query = {"RoundName": "final tournament", 
         "$or": [{"ScoreHome": {"$gt": 0}}, {"ScoreAway": {"$gt": 0}}], 
         "$or": [{"HomeTeamName": {"$in": match_information.distinct("HomeTeamName", {"RoundName": "quarter finals"})}}, 
                 {"AwayTeamName": {"$in": match_information.distinct("AwayTeamName", {"RoundName": "quarter finals"})}}]}

# exécuter la requête et stocker les résultats dans un DataFrame pandas
pd.DataFrame(list(match_information.find(query, {"_id":0,"HomeTeamName": 1, "AwayTeamName": 1, "RoundName": 1, "ScoreHome": 1, "ScoreAway": 1})))

     HomeTeamName     AwayTeamName         RoundName  ScoreHome  ScoreAway
0          Turkey            Italy  final tournament          0          3
1         Belgium           Russia  final tournament          3          0
2         Ukraine  North Macedonia  final tournament          2          1
3     Switzerland           Turkey  final tournament          3          1
4         Ukraine          Austria  final tournament          0          1
5          Russia          Denmark  final tournament          1          4
6  Czech Republic          England  final tournament          0          1
7        Slovakia            Spain  final tournament          0          5

In [172]:
#Trouvez les joueurs qui ont marqué un but contre l'équipe tenante du titre (Portugal) 
#pendant la phase de groupes.  

pd.DataFrame(pre_match_information.aggregate([
    {"$match":{"$or": [{"HomeTeamName": 'Portugal', "IsAwayTeam": True },
                       { "AwayTeamName": 'Portugal', "IsHomeTeam": True}
                      ],
               "GoalScored": {"$gte":1}
              }
    },
    {"$project": {"_id": 0,"HomeTeamName": 1,"AwayTeamName": 1,"IsHomeTeam": 1,"ShortName": 1,"GoalScored": 1}}
])
)

   HomeTeamName AwayTeamName  IsHomeTeam   ShortName  GoalScored
0       Belgium     Portugal        True   De Bruyne           1
1       Belgium     Portugal        True      Lukaku           3
2       Belgium     Portugal        True   T. Hazard           1
3       Belgium     Portugal        True     Meunier           1
4       Belgium     Portugal        True   Guerreiro           1
5       Belgium     Portugal        True  Diogo Jota           1
6       Belgium     Portugal        True     Ronaldo           5
7      Portugal       France        True  Diogo Jota           1
8      Portugal       France        True   Guerreiro           1
9      Portugal       France        True     Ronaldo           3
10     Portugal       France        True   Griezmann           1
11     Portugal      Germany        True   Guerreiro           1
12     Portugal      Germany        True     Ronaldo           2

In [178]:
#Donner les noms de tous les joueurs qui ont joué en « Austria » et qui ont marqué au moins une seule bute  
pd.DataFrame(db.match_line_ups.aggregate([
    {
        "$match": {
            "HomeTeamName": "Austria"
        }
    },
    {
        "$lookup": {
            "from": "match_player_statistics",
            "localField": "MatchID",
            "foreignField": "MatchID",
            "as": "player_stats"
        }
    },
    {
        "$unwind": "$player_stats"
    },
    {
        "$match": {
            "player_stats.StatsID": 1,
            "player_stats.value": {"$gte": 1}
        }
    },
    {
        "$project": {
            "_id": "$_id",
            "HomeTeamName": "$HomeTeamName",
            "PlayerName": "$player_stats.PlayerName",
            "StatsName": "$player_stats.StatsName",
            "Value": "$player_stats.Value"
        }
    }
]))

Empty DataFrame
Columns: []
Index: []

In [185]:
# Définir les filtres de la requête
filters = {
'match_information.roundname': 'final tournament',
'match_player_statistics.StatsID': 1
}
# Joindre les collections et agréger les résultats
result = match_player_statistics.aggregate([
{'$lookup': {
'from': 'match_information',
'localField': 'MatchID',
'foreignField': 'MatchID',
'as': 'match_info'
}},
{'$unwind': '$match_info'},
{'$match': filters},
{'$group': {
'_id': {'MatchID': '$MatchID', 'PlayerName': '$PlayerName'},
'PlayerSurname': {'$first': '$PlayerSurname'},
'total_buts': {'$sum': '$StatsID'}
}},
{'$match': {'total_buts': {'$gte': 2}}},
{'$project': {
'_id': 0,
'MatchID': '$_id.MatchID',
'PlayerName': '$_id.PlayerName',
'PlayerSurname': 1,
'total_buts': 1
}}
])
# Convertir les résultats en DataFrame pandas
df = pd.DataFrame(list(result))
# Afficher les résultats
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
db.match_player_statistics.aggregate([
    {
        "$lookup": {
            "from": "match_information",
            "localField": "MatchID",
            "foreignField": "MatchID",
            "as": "match_info"
        }
    },
    {
        "$unwind": "$match_info"
    },
    {
        "$match": {
            "match_info.roundname": "final tournament",
            "statsid": 1
        }
    },
    {
        "$group": {
            "_id": {
                "MatchID": "$MatchID",
                "PlayerName": "$PlayerName",
                "PlayerSurname": "$PlayerSurname"
            },
            "total_buts": {
                "$sum": "$statsid"
            }
        }
    },
    {
        "$match": {
            "total_buts": {"$gte": 2}
        }
    },
    {
        "$project": {
            "MatchID": "$_id.MatchID",
            "PlayerName": "$_id.PlayerName",
            "PlayerSurname": "$_id.PlayerSurname",
            "total_buts": 1,
            "_id": 0
        }
    }
])